fastapi
uvicorn
opencv-python
mediapipe
numpy
sqlalchemy
psycopg2
aiofiles
python-multipart
requests
websockets
torch
torchvision
pytorchvideo
fvcore
ultralytics
python-jose
asyncpg
passlib==1.7.4
bcrypt==3.2.2
pydantic
pydantic[email]
Pillow
